<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{style.css}" rel="stylesheet">
</head>
<body>
<header>
    <h1>ShitChat Ai</h1>
    <button class="login-btn" th:name="loginButton">Login</button>
</header>
<div class="chat-container">
    <div class="chat-box" th:each="allMessages : ${savedmessages}">
        <div class="message received" th:text="${allMessages.content}">Message rec</div>
        <div class="message sent" th:text="${allMessages.content}">message sent</div>
    </div>
    <form th:action="@{/chat}" method="post" th:object="${messagePromt}" name="chatMessage">

    <div class="selectors-container">
        <select id="role-selector" th:field="*{role}">
            <option value="" disabled selected>Select role</option>
            <option th:each="role : ${roles}"
                    th:value="${role.name()}"
                    th:text="${role}">
            </option>
        </select>
        <select id="memory-selector" th:field="*{memory}">
            <option value="" disabled selected>Select memory</option>
            <option th:each="memorySize : ${memorySelect}"
                    th:value="${memorySize.name()}"
                    th:text="${memorySize.value}">

            </option>
        </select>
    </div>

    <div class="input-container">
        <input th:type="text" th:field="*{promt}" class="chat-input" placeholder="Input message here">
        <button class="send-btn" type="submit">Send</button>
    </div>
    </form>


</div>
<span th:text="${responseMessage}"></span>
<div>

</div>
</body>
</html>
